// $black: #000;
$black: #212121;
$white: #FFF;
$off-white: #FAFAFA;
$grey: #757575;
$grey-light: #E0E0E0;
$grey-dark: #424242;
$hcs-blue: #00D8E8;
$umbrella-yellow: #f2c12d;
$umbrella-dark: #58380b;
$umbrella-light: #eadbc9;

$woodpecker-0: #726f57;
$woodpecker-1: #cfcbbc;
$woodpecker-2: #b9bdb3;
$start-0: #3b1c17;
$start-1: #d85e2b;
$start-2: #809287;

$error-red: #F04124;
$warning-yellow: #E99002;
$success-green: #43AC6A;
