$black: #000;
$white: #FFF;
$off-white: #FAFAFA;
$grey: #757575;
$grey-light: #E0E0E0;
$grey-dark: #424242;
$hcs-blue: #00D8E8;

$error-red: #F04124;
$warning-yellow: #E99002;
$success-green: #43AC6A;
