// ---=== Fonts! ===--- //

// Example
@mixin google-font {
  font-family: 'Gravitas One', cursive;
  font-style: normal;
  font-weight: 400;
}

// ---=== Font Face Declarations ===--- //
// Example
// @font-face {
//     font-family: "proxima-nova";
//     src: url("../fonts/Proxima-Nova.woff") format("woff"), /* chrome, firefox */
//     url("../fonts/Proxima-Nova.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
//     url("../fonts/Proxima-Nova.svg#Mark") format("svg"); /* iOS 4.1- */
//     font-style: normal;
//     font-weight: normal;
// }
