// Typography
.h1,
h1 {
    // @include google-font;
    font-size: 6rem;
    margin: 20px 0;
}
.h2,
h2 {
    // @include google-font;
    font-size: 5rem;
    margin: 20px 0;
}
.h3,
h3 {
    // @include google-font;
    font-size: 4rem;
    margin: 20px 0;
}
.h4,
h4 {
    // @include google-font;
    font-size: 3rem;
    margin: 20px 0;
}
.h5,
h5 {
    // @include google-font;
    font-size: 2rem;
    margin: 20px 0;
}
.h6,
h6 {
    // @include google-font;
    font-size: 1.5rem;
    margin: 20px 0;
}

p {
    font-size: 1.8rem;
    line-height: 1.444444444;
    margin: 1.5rem 0;
}

.help-block {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: $grey;
}
