{% extends 'layouts/layout.twig' %}

{% block extras_header_code %}
    {# Bungee+Shade #}
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <h1>The Alphabet</h1>
    <div class="nav">
        <a class="nav-link" href="/alphabet/1">A</a>
        <a class="nav-link" href="/alphabet/2">B</a>
        <a class="nav-link" href="/alphabet/3">C</a>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extras_footer_code %}{% endblock %}
