{% extends 'layouts/layout.twig' %}

{% block extras_header_code %}
    {# Bungee+Shade #}
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<a class="nav-link fade" href="/alphabet">The Alphabet</a>
{% endblock %}

{% block footer %}{% endblock %}

{% block extras_footer_code %}{% endblock %}
