.alphabet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    // padding: 0 2rem;
    // overflow: hidden;
    background: linear-gradient(to bottom, $start-1 0%, $start-1 50%, $start-2 50%, $start-2 100%);

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        font-size: 6rem;
        color: $start-0;

        @media ( max-width: $mobile-breakpoint ) {
            font-size: 2.5rem;
        }
    }

    .container {
        position: absolute;
        height: 100vh;
        width: 100vw;
        max-width: 160rem;
        padding: 0 2rem;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.15s ease-out;

        &.active {
            transition: opacity 0.15s ease-out;
            // transition-delay: 1s;
            opacity: 1;
        }

        .word {
            position: relative;
            align-self: flex-start;
            font-size: 12rem;
            letter-spacing: -0.5rem;
            z-index: 0;
            margin-top: -5rem;
            transition: opacity 0.15s ease-out;
            .letter {
                &.upper {
                    font-size: 40rem;
                    @media ( max-width: $mobile-breakpoint ) {
                        font-size: 22rem;
                    }
                }
                &.lower {
                    font-size: 20rem;
                    @media ( max-width: $mobile-breakpoint ) {
                        font-size: 15rem;
                    }
                }
            }
            span.end {
                font-size: 6rem;
                @media ( max-width: $mobile-breakpoint ) {
                    font-size: 4rem;
                }
            }

        }
        .object {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            z-index: 1;
            margin-top: -20rem;
            img {

            }
        }
    }
}
