// banana ?
.home {
    background: linear-gradient(to bottom, #664906 0%, #664906 50%, #7d5304 50%, #7d5304 100%);
    .container h1 {
        color: #dbb211;
    }
    .container .nav .nav-link {
        color: #dbb211;
    }
    .container .nav .nav-link:hover {
        color: #664906;
    }
}
// // umbrella
// .home {
//     background: linear-gradient(to bottom, #58370a 0%, #58370a 50%, #ead8c6 50%, #ead8c6 100%);
//     .container h1 {
//         color: #f2c12d;
//     }
//     .container .nav .nav-link {
//         color: #f2c12d;
//     }
//     .container .nav .nav-link:hover {
//         color: #58370a;
//     }
// }
