// home
.home-background {
    // background-color: $umbrella-dark;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(to bottom, $start-1 0%, $start-1 50%, $start-2 50%, $start-2 100%);
    .nav-link {
        padding: 2rem;
        // text-align: center;
        // display: block;
        // width: 100%;
        font-size: 6rem;
        color: $start-0;
        transition: opacity $transition;
        // font-size: 30rem;
        // background: linear-gradient(to bottom, $start-2 0%, $start-2 50%, $start-1 50%, $start-1 100%);
        &:hover {
            color: $start-0;
            // background: none;
        }
    }
}
